*{
    margin: 0;
    padding: 0;

}

/* nav bar */
header{
    position: sticky;
    top: 0;
    background: rgb(40, 41, 37);
    height: 88px;
}

.navlist{
    margin-left: 125px;
    margin-top: -72px;
}
html{
    scroll-behavior: smooth;
  
}

.pg img{
   border: 1px solid red;
border-radius: 100%;
margin: 10px 30px;
}

.navlist ul{
        margin-top: 10px;
        display:flex;
        font-family:'Baloo Bhai';
    
}

.navlist ul li{
    display: inline;
    text-align: center;
    display: block;
    list-style: none;
}

.navlist ul li a{
    font-size: 1.5rem;
    color: rgb(240, 36, 9);
    display: block;
    padding: 3px 22px;
    border-radius: 20px;
    text-decoration: none;
    font-weight: bold;
}
.navlist ul li a:hover{
    color: rgb(241, 14, 14);
    background-color: rgb(15, 2, 2);
}

.navlist ul ul{

   display: inline;
    display: none;
    text-align: center;
}

.navlist ul li:hover >ul{
  
    display:block;
 
    
}
/* ME and my life */
.aboutme{
  
    border: 4px solid blue;
}
.aboutme h1{
    color: white;
    font-size: 2.9rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 4px solid rgb(255, 246, 246);
}   
.aboutme p{
    font-size: 1.7rem;
    border: 2px solid red;
    font-style: italic;
    text-align:justify-all;
    /* text-align: justify; */
}


/* Media screen */
@media screen and (max-width: 480px){    
    .pg img{
        width: 44px;
        height: 34px;
        border: 1px solid red;
        border-radius: 100%; 
        margin: 20px 5px;
     }
    .navlist {
        margin-left: 129px;
        margin-top: -48px;
        width: auto;
    }
   
    .navlist ul li ul li{
        padding: 5px 75px;
    }

 
.navlist ul{
    width: 17%;
    list-style: none;
    margin: -7px -80px;
   
   
 }
 .navlist li{

            text-align: center;
            margin-left: 9px;
            padding: 2px 5px;
            width: 100%;
 }
 .navlist ul li a{
    padding: 0px 0px;
    font-size: 0.7rem;
    color: yellow;
 }
 .navlist ul li, .navlist ul li ul{
    width: 100%;

   
           text-align: center;
  
    
}

 #menu-button:checked ~ .navlist{

    display:block;
 }

 .aboutme h1{
    color: white;
    font-size: 1.9rem;
    text-align: center;
    background-color: rgb(0, 0, 0);
    border: 4px solid rgb(255, 246, 246);
}   
.aboutme p{
    font-size: 1.4rem;
    border: 2px solid red;
    font-style: italic;
    text-align:justify;
    /* text-align: justify; */
}

    .footer{
        align-items: center;
        font-family:Montserrat;
        font-size: 14px;
        width: 100%;
        height: 19px;
        color: white;
       background-color: rgb(54, 34, 168);
       text-align: center;
         font-weight:normal;
    
    }
    header{
        position: sticky;
        top: 0;
        background: rgb(40, 41, 37);
        height: 88px;
    }
}



